name: hello-world

on: # push
  workflow_dispatch:

jobs:
  hello-world-job:

    runs-on: ubuntu-latest

    steps: 
      - name: check out repo code
        uses: actions/checkout@v3

      - name: sleep for 5 seconds
        run : sleep 5
      - run : echo "$(cat hello_world.txt)"
